.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 24%;
    left: 0;
    width: 100%;
    color: White;
}

h1 {
  color: White;
  font-size: 46px;
}

.boxed {
  border: 2px solid white ;
  max-width: 500px;
  margin-left: 180px;
}

.names{
  color: white;
  font-size: 24px;
}

.row-1 {
  margin: 0px;
  height: 18px;
  background-color: #E3F2FD;
}

.row-2 {
  margin: 0px;
  height: 14px;
  background-color: #51AFDB;
}
.row-3 {
  margin: 0px;
  height: 500px;
  background-color: #E3F2FD;
}
.my-col {
  margin-top: 14px;
  height: 486px;
  background-color: #FFFFFE;
}
