.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 24%;
    left: 0;
    width: 100%;
    color: White;
}

h1 {
  color: White;
  font-size: 46px;
}

.boxed {
  border: 3px solid white ;
  max-width: 500px;
}

.names{
  color: #4FC3F7;
  font-size: 20px;
  font-family: helvetica;
}

.row {
  margin: 0px;
}

.col-md-12 {
  padding: 0px;
}

.row-1 {
  margin: 0px;
  height: 18px;
  background-color: #E1F5FE;
}

.row-2 {
  margin: 0px;
  height: 14px;
  background-color: #4FC3F7;
}
.row-3 {
  margin: 0px;
  height: 1600px;
  background-color: #E1F5FE;
}
.my-col-1 {
  margin-top: 16px;
  padding: 20px;
}

.my-col-2 {
  margin-top: 16px;
  height: 1580px;
  background-color: white;
  padding: 20px;
  font-size: 22px;
}

.datepicker-inline {
  display: block;
  margin-left: 20%;
  margin-right: auto;
}
